<mat-toolbar >
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()" *ngIf="!isDesktop">
    <mat-icon class="color-tertiary">menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container autosize >
  <mat-sidenav  [ngClass]="isMobile ? 'width-mobile ' : isTablet ?'width-tablet' : 'width-desktop' " [mode]="isMobile || isTablet ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list >
      <p mat-list-item>
        <span class="entry-head">
          <mat-icon class="color-tertiary">person</mat-icon>
          <b>Nombre usuario</b>
        </span>
        
      </p>
      <hr  />

      <a routerLink="/" mat-list-item matTooltipPosition="right" matTooltip="Aquí podrás seleccionar roles y funcionaes para tus usuarios, y editar el formulario de registro.">
        <div class="entry" >
          Gestión del sistema
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </a>

      <a routerLink="/" mat-list-item matTooltipPosition="right" matTooltip="Aquí podrás seleccionar roles y funcionaes para tus usuarios, y editar el formulario de registro.">
        <div class="entry" >
          Gestión de usuarios
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </a>

      <a routerLink="/" mat-list-item matTooltipPosition="right" matTooltip="Aquí podrás seleccionar roles y funcionaes para tus usuarios, y editar el formulario de registro.">
        <div class="entry" >
          Gestión de programas
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </a>
      <a routerLink="/system-config" mat-list-item matTooltipPosition="right" matTooltip="Aquí podrás seleccionar roles y funcionaes para tus usuarios, y editar el formulario de registro.">
        <div class="entry" >
          Gestión de misiones
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </a>
      <a routerLink="/system-config" mat-list-item matTooltipPosition="right" matTooltip="Aquí podrás seleccionar roles y funcionaes para tus usuarios, y editar el formulario de registro.">
        <div class="entry" >
          Gestión de estilos y presentación
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </a>
      
    </mat-nav-list>
    <div style="display: flex; justify-content: center; height: 150px;">
      <div style="display: flex; align-items: center; justify-content: center;" role="button" class="border-button">
        <mat-icon>exit_to_app</mat-icon>  <b>Cerrar sesión</b>
      </div>
    </div>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <app-form-color></app-form-color> -->
    <!-- <h2>Content</h2>
    <h3>Es  mobile : {{ isMobile ? 'SI' : 'NO'}}</h3>
    <h3>Es  tablet : {{ isTablet ? 'SI' : 'NO'}}</h3>
    <h3>Es  desktop : {{ isDesktop ? 'SI' : 'NO'}}</h3>
    <h3>Es  collapasad isCollapsed : {{ isCollapsed ? 'SI' : 'NO'}}</h3>
     -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>